header nav{
	width:100%;
	height: 60px;
	background: #000;
	opacity: 0.7;
}
header nav ul{
/* 变两端对齐，但是有bug */
text-align:justify;
/* 垂直居中 */
line-height:60px;
color:#fff;
}
/* 解决两端对齐的bug */
header nav ul:after{
content:"";
/* 导航的的文字变行内块元素*/
display:inline-block;
height:0;
width:100%;
}
header nav ul li{
 display:inline-block;
 color: #ffffff;
 }
header nav a:hover{
	color: red;
}
@media screen and (min-width: 1024px){

/* 导航主体内容大屏的显示 */
header nav main{
	width:1024px;
	height:100%;
    margin: 0 auto;
}
header nav main .min-nav{
	display:none;
}
.banner{
	width: 100%;
}
.touxiang{
	width: 30%;
}
.dibu{
	width: 100%;
}
}
/* 小于1024px屏的显示 */
@media screen and (max-width:1024px){ 
	
header nav main{
	padding: 0 22px;
	height: 100%;
	margin: 0 auto;
}
header nav main .min-nav{
	display:none;
}
.banner{
	width: 80%;
}
.touxiang{
	width: 20%;
}
.dibu{
	width: 50%;
}
}

/* 小于768的显示 大屏隐藏 小屏显示*/
@media screen and (max-width: 768px){
			
header nav main .max-nav{
	display:none;
}
header nav main .min-nav{
	display:block;
}
.banner{
	width: 40%;
}
.touxiang{
	width: 50%;
}
.dakuang{
	display: none;
}
.diyiz{
	display: block;
}
.dibu{
	width: 30%;
}
}
/* 大于于768的显示 小屏隐藏 大屏显示*/
@media screen and (min-width: 768px){
			
header nav main .max-nav{
		display:block;
}
header nav main .min-nav{
		
		display:none;
}
.banner{
	width: 60%;
}
.touxiang{
	width: 30%;
}
.dibu{
	width: 50%;
}
}
/* 768~1024的显示 小屏隐藏 大屏显示*/
@media screen and (min-width:768px) and  (max-width:1024px){
header nav main .max-nav{	
	display:block;
	}
header nav main .min-nav{
	display:none;
}
.banner{
	width: 80%;
}
.touxiang{
	width: 30%;
}
.dibu{
	width: 50%;
}
}
.banner{
	width: 100%;
	height: 600px;
	position: relative;
	left: 0px;
	top: 0px;
}
.banner img{
	width: 100%;
	height: 100%;
}
.bannersz{
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: black;
	opacity: 0.5;
}
.bannerwen{
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 80px;
	text-align: center;
	line-height: 300px;
	color: #ffffff;
}
.bannerwen a:hover{
	color: red;
}
.lunbo{
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	position: fixed;
	left: 50%;
	bottom: 0;
	line-height: 60px;
	text-align: center;
	margin-left: -30px;
	background: #3E3D3D;
	/* transform-origin: 101px bottom; */
	z-index: 6;
}
.lunbo{
	transition: all .5s linear;
}
/*.lunbo:hover{*/
	/*box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);*/
 	/*transform: translateY(2px);*/
/*}*/
/*.lunbo:hover{*/
	/*transition: all .5s linear;*/
	/*transform: rotate(90deg);*/
/*}*/
.diyikuai{
	width: 100%;
	/* height: 600px; */
	padding: 90px 40px;
	background: #FFFFFF;
	border-top: 8px solid #f0f0f0;
	float: left;
}
.touxiang{
	width: 30%;
	height: 400px;
	float: left;
	padding-left: 20px;
	margin-top: 15px;
	background-image: url('../img/touxiang.jpg')  ;
	background-size:  cover; 
	background-position: center center; 
	background-repeat: no-repeat;
}
.touxiang img{
	width: 100%;
	height: 100%;
}
.di-right{
	width: 50%;
	/* height: 400px; */
	float: right;
	padding-right: 20px;

}
.di-right h1{
	width: 100%;
	height: 40px;
	font-size: 30px;
	line-height: 20px;
	color: #000;
	float: left;
	display: block;
	margin-top: 10px;
}
.di-right p{
	width: 100%;
	font-size: 18px;
	line-height: 20px;
	color: #888888;
	float: left;
	margin-top: 20px;
}
.box{
	width: 100%;
	height: 300px;
	margin-top: 20px;
	float: left;
	margin-left: -30px;
}
.zuopin1{
	padding:10px 50px;
	width: 100%;
	height: 100%;
	background-image: url('../img/jhk.jpg');
	background-size: 100%;
	position: relative;
}
.zuopin{
	padding:10px 50px;
	width: 100%;
	height: 100%;
	background-image: url('../img/jhk1.jpg');
	background-size: 100%;
	position: relative;
}
.maskk{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top:0;
}
.hh{
	width: 100%;
	color: #fff;
	float: left;
	text-align: center;
	height: 60px;
	margin-top: 80px;
	line-height: 60px;
	font-size: 60px;
}
.fan{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/fan.png');
	background-size:110% ;
	z-index: 33;
}
.fan:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateY(360deg);
}
.mao:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateX(360deg);
}
.mi:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateY(360deg);
}
.dong:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateX(360deg);
}
.sao:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotate(360deg);
}
.fa:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotate(360deg);
}
.dazi:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateY(360deg);
}
.yidong:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotate(360deg);
}
.huaban:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transform: translateY(-3px);
	transition: all 2s;
	transform: rotateY(360deg);
}
.apple:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transition: all 2s;
	transform: rotate(360deg);
}
.huahua:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transition: all 2s;
	transform: rotateY(360deg);
}
.meishi:hover{
	box-shadow: 0px 3px 20px 8px rgba(0,0,0,0.1);
	transition: all 2s;
	transform: rotateY(360deg);
}
.mao{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-top: 120px;
	margin-left: 160px;
	border:1px solid #000000;
	background-image: url('../img/mao.jpg');
	background-size:100% ;
}
.mi{
	width:200px;
	height:200px;
	border-radius: 50%;
	float: left;
	margin-top: 120px;
	margin-left: 160px;
	border:1px solid #000000;
	background-image: url('../img/mi.jpg');
	background-size:100% ;
}
.dong{
	width:200px;
	height:200px;
	border-radius: 50%;
	float: left;
	margin-top: 120px;
	margin-left: 160px;
	border:1px solid #000000;
	background-image: url('../img/dong.jpg');
	background-size:100% ;
}
.fa{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-top: 120px;
	margin-left: 160px;
	border:1px solid #000000;
	background-image: url('../img/hd1.jpg');
	background-size:100% ;
}
.dazi{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-top: 120px;
	margin-left: 160px;
	border:1px solid #000000;
	background-image: url('../img/dazi.jpg');
	background-size:160% ;
}
.sao{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/sao.jpg');
	background-size:100% ;
}
.yidong{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/yidong.jpg');
	background-size:105% ;
}
.huaban{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/jsb.jpg');
	background-size:105% ;
}
.apple{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background: #040909;
	background-image: url('../img/gg.png');
	background-size:93% ;
}
.huahua{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/huahua.jpg');
	background-size:95% ;
}
.meishi{
	width:200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-left: 160px;
	margin-top: 120px;
	border:1px solid #000000;
	background-image: url('../img/msms.jpg');
	background-size:100% ;
}
.bottom{
	width: 100%;
	height: 100%;
	float: left;
	background: #fff9f9;
}
.bottom-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.bottom-main-top{
	width: 100%;
	height: 114px;
	float: left;
	/* background: #fff; */
}
.bottom-main-top img{
	display: block;
	float: left;
	margin-top: 68px;
}
.bottom-main-zhong{
	width: 100%;
	height: 355px;
	float: left;
	margin-top: 150px;
	border-bottom: 1px solid #2F2F2F;
}
.bottom-main-zhong-left{
	width: 800px;
	height: 100%;
	float: left;
	margin-top: 0px;
	/* background: red; */
}
.bottom-main-zhong-left ul{
	height: auto;
	width: 600px;
	margin-left: 80px;
	float: left;
}
.bottom-main-zhong-left ul li{
	width: 100%;
	height: 45px;
	font-size: 18px;
	margin-top: 20px;
	color: #878787;
	line-height: 45px;
}
.bottom-main-zhong-left ul li:nth-child(1){
	font-size: 22px;
}
.bottom-main-zhong-right{
	width: 381px;
	height: 100%;
	float: right;
	/* background: red; */
}
.bottom-main-zhong-right li{
	width: 100%;
	height: 45px;
	font-size: 18px;
	color: #878787;
	line-height: 45px;
	border-radius: 10px;
}
input{
	outline: none;
	border: none;
	background: #6F6E70;
	border-radius: 10px;
}
.per{
	width: 100%;
	height: 34px;
	float: left;
	margin-top: 18px;
}
.bottom-main-bottom{
	width: 100%;
	height: 93px;
	float: left;
	/* background: pink; */
}
.bottom-main-bottom img{
	height: 100%;
	width: 100%;
}
.log img{
	height: 40px;
	width: 140px;
	float: left;
	margin-top: 12px;
}
.bottom-main-bottom pre{
	float: left;
	margin-left: 246px;
	margin-top: 30px;
	font-size: 15px;
	color: #fff;
}